<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Metall</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}"  rel="stylesheet">
    <link herf="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/resume.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/resume.css' %}" rel="stylesheet">

  </head>

  <body id="page-top">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
      <a href = '/main'>
        <span class="d-block d-lg-none">Videos</span>
        <span class="d-none d-lg-block">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{% static 'img/profile.jpg' %}" alt="">
        </span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
        </ul>
      </div>
    </nav>
{% include "header.html" %}
    <div class="container-fluid p-0">

      <section class="resume-section p-3 p-lg-5 d-flex d-column" id="music">

        <div class="my-auto">
          <h1 class="mb-0">ВИДОСИКИ
            <span class="text-primary">ПО МУЗЛУ</span>
          </h1>

   {% for con in content %}
    <iframe width="853" height="480" src="{{ con.0.Video_url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="border: 4px solid black; border-color: white;  border-width: 10px"></iframe>
    <a href="/videos/showOne/{{ con.0.id }}"><h3>{{ con.0.Video_name }}</h3></a>
    <p>{{ con.0.Video_dis }}</p>
    <p>Дата добавления{{ con.0.Video_date }}</p><hr>
 <div class="videolike" style="height: 110px">
    <table>
        <tr><td><img src="{% static 'img/like.png'%}" width="55px" class="like"  name="{{ con.0.id }} "></td><td><h2 id = "video{{ con.0.id }}" style="font-size: 25pt">{{ con.0.Video_likes }}</h2></td></tr>
    </table>
</div>


    <hr>
    {% endfor %}

          </div>
        </section>

      <hr class="m-0">


</div>
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script> -->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Plugin JavaScript -->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script> -->
    <!-- Custom scripts for this template -->
    <script src="{% static 'js/resume.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'videos/scripts/comlike.js' %}"></script>
    <script type="text/javascript" src="{% static 'videos/scripts/commentslikes.js' %}"></script>

    <script type="text/javascript" src="{% static 'videos/scripts/script.js' %}"></script>
    <script type="text/javascript" src="{% static 'videos/scripts/videolike.js' %}"></script>
    <script src="{% static 'videos/scripts/videolikemain.js' %}"></script>

  </body>
</html>
