@import url('https://fonts.googleapis.com/css?family=Just+Another+Hand');

.html {
    font-size: 18px;
    }

h1, h2, h3, h4, h5, h6, p, i, span {
    color: white;
    }

body {
    background: linear-gradient(to bottom right, black, #333333);
}

.navbar navbar-expand-lg {
    background: linear-gradient(to bottom right, #000033, #333333);
}

.dropdown-toggle {
    background: #ffffff;
    color: black;
    font-family: 'Just Another Hand', cursive;
    font-size: 1rem;
    }

.dropdown-toggle::after {
    content: '';
    display: none;
    }

.dropdown-item {
    font-family: 'Just Another Hand', cursive;
    font-size: 1rem;
    }